@{
    ViewData["Title"] = "Home Page";
}






<div class="text-center">
    <h2> Welcome to BadJokes database ,we have jokes with dark humour.</h2>

    <p>Examples with pictures</p>
    <a href="https://images.app.goo.gl/L5EK9GqxGwtnaP6FA">Nemo<br/></a>
    <a href="https://images.app.goo.gl/qoNzQbvAQY52CsnT8">Smiley face<br /></a>
    <a href="https://images.app.goo.gl/XxG4mwP21JPrDefT6">Valve<br /></a>
    <a href="https://images.app.goo.gl/Z7GFY2BTWGgZScmR9">Lipstick<br /></a>
    <a href="https://images.app.goo.gl/u83wBnc27GbujrjH7">Santa<br /></a>
    <a href="https://images.app.goo.gl/atJiM9RudnvG1yQD6">Chess<br /></a> 



</div>

<div>
    <center> 
    
    <p>Note:You can view  jokes and search.To be able to add and delete you have to make first  an account.</p>
    </center>
</div>
